<div class="justify-content-center" id="returnsContainer" style="margin-top: 4em">
  <% cryptocurrencies.each do |crypto| %>
    <%= render 'cryptocurrencies/crypto_detail', crypto: crypto, form: form %>
  <% end %>
</div>


