<div class="content">
  <div class="header">
    <div class="flex" style="display: flex; align-items: center;">
      <h1 style="margin-right: 10px;">
        Crypto prices
      </h1>
      <span>
        9,162 assets
      </span>
    </div>
    <div class="btn-group">
      <button>
        All assets
      </button>
      <button>
        Tradable
      </button>
      <button>
        Gainers
      </button>
      <button>
        Losers
      </button>
    </div>
  </div>
  <div class="crypto-list">
    <div class="crypto-item" style="font-weight: bold;">
      <div class="crypto-name text-secondary">
        Name
      </div>
      <div class="crypto-price text-secondary">
        Price

      </div>
    </div>
    <% @cryptocurrencies.each do |crypto| %>
      <div class="crypto-item">
        <div class="crypto-name">
          <i class="fas fa-star" style="color: white; text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black; margin-right: 5px; vertical-align: middle;"></i>
          <%= image_tag "#{crypto[:symbol].upcase}.png", alt: crypto[:name], style: "width: 20px; height: 20px; margin-right: 5px; vertical-align: middle;" %>
          <%= crypto[:name] %> (<span class="text-muted"><%= crypto[:symbol] %></span>)
        </div>
        <div class="crypto-price">
          <%= number_to_currency(crypto[:price]) %>
        </div>
      </div>
    <% end %>

  </div>
</div>
