/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.btn-group button {
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 20px;
    background-color: #e6e7e9;
    color: #333;
}
.crypto-list {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.crypto-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e6e7e9;
    padding: 10px 0;
}
.crypto-item:last-child {
    border-bottom: none;
}
.crypto-item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.crypto-name {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #333;
}
.crypto-price {
    font-size: 18px;
    color: #333;
}
.star {
    color: #f0b90b;
    margin-right: 5px;
}


.content {
    width: 90%;
    max-width: 60%;
    margin: 2em auto;
    text-align: center;
}


@media (min-width: 768px) {
    .content {
        width: 60%;
    }
}

.custom-disabled-input {
    background-color: white !important;
    color: black !important;
}

.simulation-in-progress {
    color: green;
}

.simulation-finished {
    color: red;
}